name: GitHub Actions Mirror

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  mirror_to_gitlab:
    name: Mirror to gitlab
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Mirror to gitlab
        uses: fscarmen/repository-mirroring-action@v1.0.0
        with:
          target_repo_url:
            git@gitlab.com:${{ github.repository }}.git
          ssh_private_key:
            ${{ secrets.SYNC_PRIVATE_KEY }}

  mirror_to_framagit:
    name: Mirror to framagit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.2.2
        with:
          fetch-depth: 0
      - name: Mirror to framagit
        uses: fscarmen/repository-mirroring-action@v1.0.0
        with:
          target_repo_url:
            git@framagit.org:${{ github.repository }}.git
          ssh_private_key:
            ${{ secrets.SYNC_PRIVATE_KEY }}